{% if not card.type.attributes.empty %}
        {% for attribute in card.type.attributes %}
                <a href="{{ path('admin_card_index', {'attribute': attribute.name == app.request.query.get('attribute') ? null : attribute.name}) }}"
                   class="label label-{{ attribute.name == app.request.query.get('attribute') ? 'success' : 'default' }}"
                ><i class="fa fa-tag"></i> {{ attribute.name }}
                </a>
        {% endfor %}
{% endif %}