{% if card.type %}
        <a href="{{ path('admin_card_index', {'type': card.type.name == app.request.query.get('type') ? null : card.type.name}) }}"
           class="label label-{{ card.type.name == app.request.query.get('type') ? 'success' : 'default' }}"
        ><i class="fa fa-tag"></i> {{ card.type.name }}
        </a>
{% endif %}

