{% if not card.type.attributes.empty %}
    <br><br>
    <h1>Аттрибуты:</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
        <tr>
            <th scope="col">{{ 'label.title'|trans }}</th>
            <th scope="col">Значение</th>
            <th scope="col">Форматированное значение</th>
            <th scope="col" class="text-center"><i class="fa fa-cogs"
                                                   aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for attributeValue in attributeValuesGrouped %}
            <tr>
                <td>{{ attributeValue.attribute.name }}</td>
                <td>{{ attributeValue.value }}</td>
                <td>{{ attributeValue.valueFormatted }}</td>
                <td class="text-right">
                    <div class="item-actions">
                        <a href="{{ path('admin_attributevalue_index', {cardId: card.id, attributeId: attributeValue.attribute.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'card.no_attributes_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>
    <h1>Возможные аттрибуты:</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
        <tr>
            <th scope="col">{{ 'label.title'|trans }}</th>
            <th scope="col" class="text-center"><i class="fa fa-cogs"
                                                   aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for attribute in attributesGrouped %}
            <tr>
                <td>{{ attribute.name }}</td>
                <td class="text-right">
                    <div class="item-actions">
                        <a href="{{ path('admin_attributevalue_new', {cardId: card.id, attributeId: attribute.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> Задать аттрибут
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'card.no_attributes_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}