{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_card_edit' %}

{% block main %}
    <h1>{{ 'title.edit_card'|trans({'%id%': card.id}) }}</h1>

    {{ include('admin/card/_form.html.twig', {
        form: form,
        image: card.image,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}

    {{ include('admin/card/_card_edit_attributes.html.twig') }}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_card_show', {id: card.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show_card'|trans }}
        </a>
    </div>

    <div class="section actions">
        {{ include('admin/card/_delete_form.html.twig', {card: card}, with_context = false) }}
    </div>
{% endblock %}
