{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_card_index' %}

{% block main %}
    <h1>{{ 'title.card_list'|trans }}</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th scope="col">{{ 'label.title'|trans }}</th>
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> {{ 'label.card_type'|trans }}</th>
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> {{ 'label.card_image'|trans }}</th>
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> {{ 'label.card_attributes'|trans }}</th>
                <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td>{{ card.title }}</td>
                {# it's not mandatory to set the timezone in localizeddate(). This is done to
                   avoid errors when the 'intl' PHP extension is not available and the application
                   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
                <td>{{ include('admin/card/_card_types.html.twig') }}</td>
                <td>{% if card.image %}<img width="50" src="{{ asset('uploads/card/' ~ card.image) }}"/>{% endif %}</td>
                <td>{{ include('admin/card/_card_attributes.html.twig') }}</td>
                <td class="text-right">
                    <div class="item-actions">
                        <a href="{{ path('admin_card_show', {id: card.id}) }}" class="btn btn-sm btn-default">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                        </a>

                        <a href="{{ path('admin_card_edit', {id: card.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                        </a>
                        <span class="btn">
                            {{ include('admin/card/_delete_form.html.twig', {card: card}, with_context = false) }}
                        </span>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5  " align="center">{{ 'card.no_cards_found'|trans }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_card_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_card'|trans }}
        </a>
    </div>
{% endblock %}
