{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_card_show' %}

{% block main %}
    <h1>{{ card.title }}</h1>

    <p class="card-metadata">
        <span class="metadata"><img width="350" src="{{ asset('uploads/card/' ~ card.image) }}"/></span>
    </p>

    <div class="well">
        <p class="m-b-0"><strong>{{ 'label.summary'|trans }}</strong>: {{ card.description }}</p>
    </div>

    {{ card.content|md2html }}

    {#{{ include('blog/_card_tags.html.twig') }}#}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_card_edit', {id: card.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/card/_delete_form.html.twig', {card: card}, with_context = false) }}
    </div>

    <div class="section">
        <a href="{{ path('admin_card_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    </div>
{% endblock %}
