{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_attribute_edit' %}

{% block main %}
    <h1>{{ 'title.edit_attribute'|trans({'%id%': attribute.id}) }}</h1>

    {{ include('admin/attribute/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('admin/attribute/_delete_form.html.twig', {attribute: attribute}, with_context = false) }}
    </div>
{% endblock %}
