{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_attribute_index' %}

{% block main %}
    <h1>{{ 'title.attribute_list'|trans }}</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th scope="col">{{ 'label.name'|trans }}</th>
                <th scope="col">{{ 'label.attribute_card_types'|trans }}</th>
                <th scope="col">{{ 'label.priority'|trans }}</th>
                <th scope="col">{{ 'label.in_filter'|trans }}</th>
                <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for attribute in attributes %}
            <tr>
                <td>{{ attribute.name }}</td>
                <td>{{ attribute.formattedCardTypes }}</td>
                <td>{{ attribute.priority }}</td>
                <td>{{ attribute.inFilter }}</td>
                <td class="text-right">
                    <div class="item-actions">
                        <a href="{{ path('admin_attribute_edit', {id: attribute.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                        </a>
                        <span class="btn">
                            {{ include('admin/attribute/_delete_form.html.twig', {attribute: attribute}, with_context = false) }}
                        </span>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" align="center">{{ 'attribute.no_attributes_found'|trans }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_attribute_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_attribute'|trans }}
        </a>
    </div>
{% endblock %}
