{% extends 'ce_base.html.twig' %}

{% block body_id 'calculator_index' %}

{% block main %}
    <div style="position:absolute;clip:rect(0,0,0,0)" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="i-rub" viewBox="0 0 24 24"><path d="M6,10H7V3H14.5C17,3 19,5 19,7.5C19,10 17,12 14.5,12H9V14H15V16H9V21H7V16H6V14H7V12H6V10M14.5,5H9V10H14.5A2.5,2.5 0 0,0 17,7.5A2.5,2.5 0 0,0 14.5,5Z" /></svg>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="container-sm">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span>Главная</span></a><i
                                class="icon i-arrow i-arrow--right"></i></li>
                    <li class="breadcrumbs__item breadcrumbs__item--active"><a href="{{ path('about') }}" class="breadcrumbs__link"><span>О нас</span></a>
                    </li>
                </ul>
            </div>

            <main class="main" id="main">
                <div class="container-sm" style="max-width: 940px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>О нас</h1>

                            <p>Сайт creditum24.ru – это информационный сервис, который создан для быстрого подбора
                            кредитных, дебетовых, виртуальных карт или карт рассрочки. Мы публикуем актуальные
                            предложения по оформлению карт от ведущих российских банков. Сreditum24.ru
                            содержит полную информацию обо всех предложениях на рынке: размер процентных
                            ставок, продолжительность льготного периода, требования банков к клиентам, сроки
                            выпуска карт, бонусы для держателей карт. Наши пользователи могут быстро сравнить
                            условия получения денег в разных финансовых организациях и максимально быстро
                            выбрать наиболее выгодный вариант. Если вы боитесь запутаться в условиях различных
                                банков, наши советы и рекомендации помогут сделать правильный выбор.</p>

                            <h2>Где оформить банковскую карту на лучших условиях?</h2>
                            <p>Собираясь получить банковскую карту, финансово грамотные люди всегда ищут наиболее
                            выгодные условия, сравнивая предложения различных банков. Creditum24.ru – ваш
                            персональный помощник в выборе карты любого типа. Мы регулярно изучаем продукты
                            надежных игроков банковского рынка, а затем выбираем и публикуем самые
                            привлекательные из них. Вам больше не придется тратить время на посещение десятка
                            онлайн-площадок, чтобы собрать нужные данные: все необходимые сведения уже
                                собраны на этом сайте!</p>
                            <p>Благодаря удобным фильтрам студенты, пенсионеры, граждане с неофициальными
                            доходами, обладатели неидеальной кредитной истории и другие категории заемщиков
                            быстро найдут подходящую карту. Предпочитаете карту с кешбэком, начислением
                            бонусных миль, бесплатным обслуживанием или мгновенным ответом по заявке?
                            Отсортируйте актуальные предложения по интересующим вас параметрам, получите
                                перечень доступных вариантов и моментально подайте заявку на получение карты.</p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}