{% extends 'ce_base.html.twig' %}

{% block body_id 'calculator_index' %}

{% block main %}
    <div style="position:absolute;clip:rect(0,0,0,0)" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="i-rub" viewBox="0 0 24 24"><path d="M6,10H7V3H14.5C17,3 19,5 19,7.5C19,10 17,12 14.5,12H9V14H15V16H9V21H7V16H6V14H7V12H6V10M14.5,5H9V10H14.5A2.5,2.5 0 0,0 17,7.5A2.5,2.5 0 0,0 14.5,5Z" /></svg>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="container-sm">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span>Главная</span></a><i
                                class="icon i-arrow i-arrow--right"></i></li>
                    <li class="breadcrumbs__item breadcrumbs__item--active"><a href="{{ path('contacts') }}" class="breadcrumbs__link"><span>Контакты</span></a>
                    </li>
                </ul>
            </div>

            <main class="main" id="main">
                <div class="container-sm" style="max-width: 940px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Контакты</h1>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}