{{ include('promo_text/_delete_confirmation.html.twig') }}
<form action="{{ url('admin_promo_text_delete', {id: promo_text.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-sm btn-block btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Удалить
    </button>
</form>
