{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_promo_text_edit' %}

{% block main %}
    <h1>{{ 'Редактировать %id%'|trans({'%id%': promo_text.title}) }}</h1>

    {{ include('admin/promo_text/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('admin/promo_text/_delete_form.html.twig', {promo_text: promo_text}, with_context = false) }}
    </div>
{% endblock %}
