{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_promo_text_index' %}

{% block main %}
    <h1>Продвигаемые страницы</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th scope="col">H1</th>
                <th scope="col">Title</th>
                <th scope="col">Метка</th>
                <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for promo_text in promo_texts %}
            <tr>
                <td>{{ promo_text.h1 }}</td>
                <td>{{ promo_text.seoTitle }}</td>
                <td>{{ promo_text.title }}</td>
                <td class="text-right">
                    <div class="item-actions">
                       <a href="{{ path('admin_promo_text_edit', {id: promo_text.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> редактировать
                        </a>
                        <span class="btn">
                            {{ include('admin/promo_text/_delete_form.html.twig', {promo_text: promo_text}, with_context = false) }}
                        </span>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'promo_text.no_promo_texts_found'|trans }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_promo_text_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'Создать'|trans }}
        </a>
    </div>
{% endblock %}
