{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_promo_text_new' %}

{% block main %}
    <h1>Создать новый</h1>

    {{ form_start(form) }}
        {{ form_row(form.h1) }}
        {{ form_row(form.seoTitle) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> Создать
        </button>
        {{ form_widget(form.saveAndCreateNew, {label: 'Сохранить и создать', attr: {class: 'btn btn-primary'}}) }}

        <a href="{{ path('admin_promo_text_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Назад к списку
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
{% endblock %}
