{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_promo_text_show' %}

{% block main %}
    <h1>{{ promo_text.title }}</h1>

    <p class="promo_text-metadata">
        <span class="metadata"><img width="350" src="{{ asset('uploads/promo_text/' ~ promo_text.image) }}"/></span>
    </p>

    <div class="well">
        <p class="m-b-0"><strong>{{ 'label.summary'|trans }}</strong>: {{ promo_text.description }}</p>
    </div>

    {{ promo_text.content|md2html }}

    {#{{ include('blog/_promo_text_tags.html.twig') }}#}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_promo_text_edit', {id: promo_text.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/promo_text/_delete_form.html.twig', {promo_text: promo_text}, with_context = false) }}
    </div>

    <div class="section">
        <a href="{{ path('admin_promo_text_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    </div>
{% endblock %}
