{% extends 'ce_base.html.twig' %}

{% block body_id 'card_index' %}

{% block title %}Creditum {% if title is defined %}{{ title }}{% endif %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <main class="main" id="main">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        {% for slide in slides %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <a href="{{ slide.url }}" target="_blank">
                                    <img class="d-block w-100" src="{{ asset('uploads/slider/' ~ slide.image) }}"
                                         alt="">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="p-5">
                    <h2 class="text-center">«Creditum24 – ваш помощник в подборе карты онлайн»</h2>
                </div>

                <div class="calculator p-5">
                    {{ include('calc/_calc.html.twig') }}
                </div>

                <div class=" p-5">
                    <h2 class="text-center">Кредитные карты</h2>
                    <div class="cards-list row">
                        {% for card in credit_cards %}
                            <div class="cards-list__item col-sm-3">
                                {{ include('card/_card_item.html.twig') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class=" p-5">
                    <h2 class="text-center">Дебетовые карты</h2>
                    <div class="cards-list row">
                        {% for card in debit_cards %}
                            <div class="cards-list__item col-sm-3">
                                {{ include('card/_card_item.html.twig') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class=" p-5">
                    <h2 class="text-center">Блог</h2>
                    <div class="cards-list row">
                        {% for item in news %}
                            <div class="cards-list__item col-sm-3">
                                {{ include('news/_article_short.html.twig') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class=" p-5">
                    {{ content|md2html }}
                </div>
            </main>
        </div>
    </div>

    <style type="text/css">
        .carousel-control-next,
        .carousel-control-prev {
            width: 5%;
        }
    </style>
{% endblock %}

    {% block sidebar %}
    {% endblock %}
