{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_attributevalue_edit' %}

{% block main %}
    <h1>{{ 'title.edit_attribute'|trans({'%id%': attributeValue.id}) }}</h1>

    {{ include('admin/attributevalue/_form.html.twig', {
        form: form,
        attributeValue: attributeValue,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('admin/attributevalue/_delete_form.html.twig', {attributeValue: attributeValue}, with_context = false) }}
    </div>
{% endblock %}
