{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_attributevalue_index' %}

{% block main %}
    <h1>{{ 'title.attributevalue_list'|trans }} {{ attribute.name }}</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th scope="col">Значение</th>
                <th scope="col">Форматированное значение</th>
                <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for attributeValue in attributeValues %}
            <tr>
                <td>{{ attributeValue.value }}</td>
                <td>{{ attributeValue.valueFormatted }}</td>
                <td class="text-right">
                    <div class="item-actions">
                        <a href="{{ path('admin_attributevalue_edit', {id: attributeValue.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                        </a>
                        <span class="btn">
                            {{ include('admin/attributevalue/_delete_form.html.twig', {attributeValue: attributeValue}, with_context = false) }}
                        </span>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'attribute.no_attributevalues_found'|trans }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_attributevalue_new', {cardId: card.id, attributeId: attribute.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_attribute'|trans }}
        </a>
        <a href="{{ path('admin_card_edit', {id: card.id}) }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    </div>
{% endblock %}
