{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_attributevalue_new' %}

{% block main %}
    <h1>{{ 'title.attributevalue_new'|trans }} {{ attributeValue.attribute.name }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.value) }}
        {{ form_row(form.valueFormatted) }}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'label.create_attribute'|trans }}
        </button>
        {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}

        <a href="{{ path('admin_attributevalue_index', {cardId: card.id, attributeId: attribute.id}) }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
{% endblock %}
