{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_news_edit' %}

{% block main %}
    <h1>{{ 'title.edit_news'|trans({'%id%': news.id}) }}</h1>

    {{ include('admin/news/_form.html.twig', {
        form: form,
        image: news.image,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('admin/news/_delete_form.html.twig', {news: news}, with_context = false) }}
    </div>
{% endblock %}
