{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_news_show' %}

{% block main %}
    <h1>{{ news.title }}</h1>

    <p class="news-metadata">
        <span class="metadata"><img width="350" src="{{ asset('uploads/news/' ~ news.image) }}"/></span>
    </p>

    <div class="well">
        <p class="m-b-0"><strong>{{ 'label.summary'|trans }}</strong>: {{ news.description }}</p>
    </div>

    {{ news.content|md2html }}

    {#{{ include('blog/_news_tags.html.twig') }}#}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_news_edit', {id: news.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/news/_delete_form.html.twig', {news: news}, with_context = false) }}
    </div>

    <div class="section">
        <a href="{{ path('admin_news_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    </div>
{% endblock %}
