<div class="card-item">
    <div class="card-item__img">{% if card.image %}<img
            src="{{ asset('uploads/card/' ~ card.image) }}"/>{% endif %}</div>
    <div class="card-item__list mobile-only">
        <div class="card-item__list-item">
            <div class="card-item__dt">{{ card.creditLimitFormatted }}</div>
            <div class="card-item__dt">{{ card.gracePeriodFormatted }}</div>
            <div class="card-item__dd">{{ card.annualRateFormatted }}</div>
        </div>
    </div>
    <div class="card-item__text">
        <div class="card-item__title">{{ card.title }}</div>
        <div class="card-item__descr desktop-only">{{ card.shortDescription }}
        </div>
        <a href="{{ path('card_show', {slug: card.slug}) }}"
           class="btn btn-primary card-item__submit">Узнать подробнее
        </a>
    </div>
</div>