<div class="col-lg-4">
    <input type="checkbox" class="aside-toggle" id="aside-toggle">
    <aside class="aside" id="aside" data-toggle-id="aside-toggle">
        <div class="aside-panel desktop-only">
            <div class="aside-panel__list">
                <a href="{{ path('calculator_index') }}" class="aside-panel__item aside-panel__item--calc"
                   title="Калькулятор">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44"
                         height="61" viewBox="0 0 24 24">
                        <path d="M7,2H17A2,2 0 0,1 19,4V20A2,2 0 0,1 17,22H7A2,2 0 0,1 5,20V4A2,2 0 0,1 7,2M7,4V8H17V4H7M7,10V12H9V10H7M11,10V12H13V10H11M15,10V12H17V10H15M7,14V16H9V14H7M11,14V16H13V14H11M15,14V16H17V14H15M7,18V20H9V18H7M11,18V20H13V18H11M15,18V20H17V18H15Z"></path>
                    </svg>
                </a>
            </div>
        </div>

        <div class="aside-filters">
            <label for="aside-toggle" class="btn-menu-close mobile-only"><i></i></label>
            <div class="aside-filters__inner">
                <div class="aside-filters__title desktop-only">
                    <i class="icon i-filter"></i>
                    <span>Выбрать по фильтру</span>
                </div>

                <form class="aside-filters__form" id="form_filter">
                    {% if cardUrl is defined %}
                        <input name="cardUrl" type="hidden" value="{{ cardUrl }}">
                    {% endif %}

                    {% for id, f in filter %}
                        {{ f.name }}

                        <div class="aside-filters__group">
                            <div class="custom-select">
                                <select class="js-select" data-class="dropdown-select-filter" name="filter[]">
                                    <option value="0">не важно</option>
                                    {% for _f in f.collection %}
                                        <option
                                                value="{{ _f.id }}"
                                                 {% if _f.id in filterChecked %}selected="selected"{% endif %}">
                                        {{ _f.value_formatted }} ({{ _f.count }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br>
                        {#{% for _f in f.collection %}#}
                            {#<div class="aside-filters__group">#}
                                {#<div class="filter-checkbox">#}
                                    {#<label class="filter-checkbox__label">#}

                                        {#<input type="checkbox" class="filter-checkbox__control"#}
                                               {#name="filter[]"#}
                                               {#value="{{ _f.id }}"#}
                                               {#{% if _f.id in filterChecked %}checked="checked"{% endif %}">#}
                                        {#<span class="filter-checkbox__content">{{ _f.value_formatted }} ({{ _f.count }})</span>#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                        {#{% endfor %}#}

                        {#<br/>#}

                    {% endfor %}

                    <div class="aside-filters__buttons">
                        <button type="submit" class="btn btn-primary" id="do_filter"><span>Подобрать карту</span>
                        </button>
                        <button type="reset" class="btn btn-reset-filters"><a href="{{ path(cardUrl) }}"><span>Сбросить фильтры</span></a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </aside>
</div>