<div class="cards-list row" id="card_list">
    {% for card in cards %}
        <div class="cards-list__item col-sm-6">
            {{ include('card/_card_item.html.twig') }}
        </div>
    {% endfor %}
</div>