{% extends 'ce_base.html.twig' %}

{% block body_id 'card_show' %}

{% block fitler %}{% endblock %}

{% block main %}
<div class="container-sm">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span>Главная</span></a><i class="icon i-arrow i-arrow--right"></i></li>
        <li class="breadcrumbs__item"><a href="{{ path(card_type_url) }}" class="breadcrumbs__link"><span>{{ card.type.name }}</span></a><i class="icon i-arrow i-arrow--right"></i></li>
        <li class="breadcrumbs__item breadcrumbs__item--active"><a class="breadcrumbs__link"><span>Подробнее о карте</span></a></li>
    </ul>
</div>
<main class="main" id="main">
    <div class="container-sm">
        <h1>{{ card.title }}</h1>
        <section class="card row">
            <div class="card__img col-md-6">{% if card.image %}<img src="{{ asset('uploads/card/' ~ card.image) }}"/>{% endif %}</div>
            <div class="card__text col-md-6">
                <p class="card__descr">{{ card.description }}</p>

                <div class="card__list row">
                    {% if card_type_url == 'card_debit' %}
                        <div class="col-4">
                            <div class="card__dt">{{ params.bank }}</div>
                            <div class="card__dd">Банк</div>
                        </div>
                        <div class="col-4">
                            <div class="card__dt">{{ card.time }}</div>
                            <div class="card__dd">Время рассмотрения заявки</div>
                        </div>
                        <div class="col-4">
                            <div class="card__dt">{{ params.type }}</div>
                            <div class="card__dd">Тип</div>
                        </div>
                    {% else %}
                        <div class="col-4">
                            <div class="card__dt">
                                <span>{{ card.creditLimitFormatted }}</span>
                                <i class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="15.965" height="17.558" viewBox="0 0 451 496"><path d="M11.279,417.085H90.2V484.73A10.868,10.868,0,0,0,101.484,496h58.839a11.129,11.129,0,0,0,7.927-3.178,10.631,10.631,0,0,0,3.345-8.093V417.085H349.529a10.849,10.849,0,0,0,11.278-11.271V360.721a10.866,10.866,0,0,0-11.278-11.27H171.59v-41.57h119.8q70.465,0,115.041-42.975Q451,221.953,451,153.94q0-67.971-44.573-110.965Q361.853,0.023,291.386,0H101.478A10.849,10.849,0,0,0,90.2,11.27V232.856H11.279A10.68,10.68,0,0,0,3.172,236.2,11.15,11.15,0,0,0,0,244.127v52.484a10.85,10.85,0,0,0,11.279,11.27H90.2v41.57H11.279A10.866,10.866,0,0,0,0,360.721v45.093A10.85,10.85,0,0,0,11.279,417.085ZM171.59,75.042H284.339q37.344,0,60.249,21.838t22.9,57.066q0,35.229-22.9,57.065-22.906,21.861-60.249,21.851H171.59V75.042Z"/></svg></i></div>
                            <div class="card__dd">Кредитный лимит</div>
                        </div>
                        <div class="col-4">
                            <div class="card__dt">от {{ card.annualRateFormatted }}%</div>
                            <div class="card__dd">Годовой процент</div>
                        </div>
                        <div class="col-4">
                            <div class="card__dt">{{ card.gracePeriodFormatted }}</div>
                            <div class="card__dd">Беспроцентный период</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>

        <section class="card-features">
            <div class="card-features__table">{{ card.content|md2html }}</div>
        </section>
    </div>
</main>
{% endblock %}

{% block sidebar %}

{% endblock %}
