{% extends 'ce_base.html.twig' %}

{% block body_id 'card_index' %}

{% block title %}Creditum {% if title is defined %}{{ title }}{% endif %}{% endblock %}

{% block main %}
    <div class="row">
        {{ include('card/_filter.html.twig') }}
        <div class="col-lg-8">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span>Главная</span></a><i
                            class="icon i-arrow i-arrow--right"></i></li>
                <li class="breadcrumbs__item breadcrumbs__item--active"><a href=""
                                                                           class="breadcrumbs__link"><span>{% if cardType %}{{ cardType.name }}{% endif %}</span></a>
                </li>
            </ul>
            <main class="main" id="main">

                {% if h1 is defined %}
                    <h1>{{ h1 }}</h1>
                {% endif %}

                {% if promo_content is defined %}
                    <div>{{ promo_content|md2html }}</div>
                {% endif %}

                <div class="cards-list-top-row mobile-only row">
                    <div class="col-auto"><label for="aside-toggle" class="btn btn-calc">Фильтры</label></div>
                </div>

                {{ include('card/_main.html.twig') }}

                {% if promoText %}
                    <section class="card-features">
                        <div class="card-features__table">{{ promoText|md2html }}</div>
                    </section>
                {% endif %}

                {% if children is defined %}
                    <div class="cards-list row" id="card_list">
                        {% for child in children %}
                            <div class="cards-list__item ">
                                <div class="card-item">
                                    <div class="card-item__text">
                                        <a href="{{ path('promotext_index', {slug: child.slug}) }}"
                                           class="btn btn-primary card-item__submit">{{ child.title }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </main>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}