html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__top {flex: 1 0 auto;}
  &__bottom {flex: 0 0 auto; margin-top: 75px;}
}

.container-sm {
  max-width: 1000px; 
  margin-left: auto; 
  margin-right: auto;
}

.middle {
  margin-top: 70px;
}

h1, .h1 {
  font-size: 32px;
  line-height: 1;
  font-family: GothamPro, sans-serif;
  font-weight: 700;
  color: $color-accent;
}

h2, .h2 {
  font-size: 30px;
  line-height: 1;
  font-family: GothamPro, sans-serif;
  font-weight: 500;
  color: $color-accent;
}

.logo {
  display: block;
  width: 98px; height: 56px;
  background: url('../img/logo.png') center / contain no-repeat;
}

.date {
  font-size: 18px;
  line-height: 1;
  color: $color-grey-11;
}

@media (min-width: $lg-min) {
  .mobile-only {display: none!important;}
}

@media (max-width: $lg-max) {
  .desktop-only {display: none!important;}

  html {font-size: 12px;}

  .middle {margin-top: 30px;}

  .wrapper__bottom {margin-top: 40px;}

  h1, .h1 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  h2, .h2 {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .logo {
    width: 39px; height: 22px;
    background-image: url('../img/logo-mobile.png');
  }

  .date {
    font-size: 1rem;
  }
}