.dropdown {
  position: relative;
  &.show {
    .dropdown-menu {display: block;}
    > .icon {transform: rotate(45deg);}
  }
  > .icon {
    position: absolute;
    pointer-events: none;
    top: 0; bottom: 0; right: 12px;
    margin: auto;
    z-index: 1;
  }
}

.dropdown-toggle {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 0 10px;
  &:hover {text-decoration: none;}
  
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 4;
  display: none;
  float: left;
  width: 100%;
  padding: 0 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0 10px;
  clear: both;
  color: inherit;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  &:hover {text-decoration: none;}
}

// дропы в форме
.dropdown-select {
  font-size: 13px;
  line-height: 32px;
  &.show {
    .dropdown-toggle {
      border-bottom-color: #fff;
      box-shadow: 0 4px 6px rgba(72, 71, 72, .29);
      border-radius: 4px 4px 0 0;
    }
    .dropdown-menu {
      box-shadow: 0 4px 6px rgba(72, 71, 72, .29);
    }
  }

  .dropdown-toggle {
    color: $color-accent;
    font-weight: 400;
    border: 1px solid #f4f4f4;
    padding: 0 10px;
    border-radius: 4px;
    &.placeholder {color: $color-grey-12; font-weight: 300;}
  }

  .dropdown-menu {
    border: 1px solid #f4f4f4;
    border-top: 0;
    padding: 0 0 20px;
    border-radius: 0 0 4px 4px;
  }

  .dropdown-item {
    &.selected {color: $color-accent; font-weight: 400;}
  }
}

// дропы в боковой колоне
.dropdown-select-filter {
  font-size: 13px;
  line-height: 34px;
  &.show {
    .dropdown-toggle {
      border-radius: 4px 4px 0 0;
      background: #fff;
      color: #737373;
    }
    .i-arrow::before {border-color: #737373;}
  }
  &:not(.show) {
    .dropdown-toggle {color: #fff};
  }

  .dropdown-toggle {
    height: 34px;
    border: 0;
    border-radius: 4px;
    background: #3f3853;
  }

  .dropdown-menu {
    border: 0;
    padding: 0 0 10px;
    border-radius: 0 0 4px 4px;
  }

  .dropdown-item {
    color: #737373;
    line-height: 24px;
    padding-left: 20px;
    &.selected {color: $color-accent; font-weight: 400;}
  }

  .i-arrow::before {border-color: #fff;}
}

// дропы в каталоге
.dropdown-sort {
  &.show {
    .dropdown-toggle {
      color: $color-accent-2;
      .icon {
        transform: rotate(45deg);
        &::before {border-color: $color-accent-2;}
      }
    }
  }
  .dropdown-toggle {
    position: relative;
    padding: 0 20px 0 0;
    font-size: 20px;
    font-weight: 400;
    color: #e1e0e0;
    &:hover {
      color: $color-accent-2;
      .icon::before {border-color: $color-accent-2;}
    }
    .icon {
      position: absolute;
      right: 3px; top: 12px;
    }
  }
  .dropdown-menu {
    border: 0;
    box-shadow: 0 4px 6px rgba(72, 71, 72, .29);
    width: auto;
    min-width: 100%;
    padding: 5px 0 20px;
  }
  .dropdown-item {
    font-family: GothamPro, sans-serif;
    color: $color-grey-8;
    font-size: 16px;
    line-height: 36px;
    padding: 0 25px;
    &.selected {color: $color-accent;}
  }
}


@media (max-width: $lg-max) {
  .dropdown-select {
    font-size: 12px;
    line-height: 28px;
    .dropdown-toggle {
      padding-left: 5px; padding-right: 5px;
    }
    .dropdown-menu {
      padding-bottom: 10px;
    }
    .dropdown-item {
      padding-left: 5px; padding-right: 5px;
    }
  }
}