@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic');
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/ProximaNova-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/ProximaNova-Semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: GothamPro;
  src: url('../fonts/GothamPro.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: GothamPro;
  src: url('../fonts/GothamPro-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: GothamPro;
  src: url('../fonts/GothamPro-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}