.form-group {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  width: 100%; height: 34px;
  padding: 6px 10px;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: $color-accent;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #f4f4f4;
  outline: 0;
  border-radius: 4px;
  transition: border-color .15s ease-in-out;
  &::placeholder {
    color: $color-grey-12; 
    opacity: 1; 
    font-weight: 300;
  }
  &[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.custom-select {
  position: relative;
  select {
    display: block;
    width: 100%; height: 34px;
    padding: 6px 10px;
    font-size: 13px;
    line-height: 1.5;
    border: 1px solid #f4f4f4; 
    outline: 0;
    border-radius: 4px;
    font-weight: inherit;
    color: $color-grey-12;
    -webkit-appearance: none;
    -moz-appearance: none;
    &::-ms-expand {display: none;}
  }
}

.custom-radio {
  input:checked ~ .icon::before {visibility: visible;}
}
.custom-checkbox {
  input:checked ~ .icon::before {visibility: visible;}
}

.hidden-control {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.btn {
  display: inline-block;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 7px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
  box-shadow: 0 2px 1px 0 rgba(72,71,72,0.50);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  &:focus {outline: 0;}
}

.btn-primary {
  color: #fff;
  background-color: $color-accent-2;
  width: 175px;
  max-width: 100%;
  &:hover {
    color: $color-accent-2;
    background-color: #fff;
    border-color: $color-accent-2;
    box-shadow: 0 0 1px;
  }
}

.btn-outline {
  border-width: 3px;
  border-color: $color-accent;
  background: transparent;
  box-shadow: none;
  &:hover {
    color: #fff;
    background-color: $color-accent;
  }
}

.btn-show-more {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  width: 255px;
  max-width: 100%;
}

.btn-calc {
  color: #fff;
  background-color: #635a82;
  width: 175px;
  max-width: 100%;
  &:hover {
    color: #635a82;
    background-color: #fff;
    border-color: #635a82;
    box-shadow: 0 0 1px;
  }
}

.btn-reset-filters {
  background: transparent;
  border: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  box-shadow: none;
  &:hover span {border-color: #fff;}
  span {
    border-bottom: 1px solid #938ea6;
  }
}


@media (max-width: $lg-max) {
  .form-control {
    font-size: 12px;
    height: 30px;
    padding: 5px;
  }
  .btn {
    font-size: 16px;
    width: 209px;
    padding: 6px;
  }
  .btn-show-more {
    font-size: 16px;
    width: 209px;
  }
}