.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.i-comments {
  width: 21px; height: 18px;
  background-image: url("../img/i/i-comments.svg");
}

.i-alert {
  width: 21px; height: 21px;
  background-image: url("../img/i/i-alert.svg");
}

.i-filter {
  width: 19px; height: 22px;
  background-image: url("../img/i/i-filter.svg");
}

.i-logout {
  width: 24px; height: 18px;
  background-image: url("../img/i/i-logout.svg");
}

.i-rub {
  width: 24px; height: 24px;
  background-image: url("../img/i/i-rub.svg");
}
.svg-rub {
  display: inline-block;
  width: 1em; height: 1em;
  fill: $color-accent;
}

.i-rub-2 {
  width: 16px; height: 17px;
  background-image: url("../img/i/i-rub-2.svg");
}

.i-radio {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  padding: 3px;
  &::before {
    content: '';
    display: block;
    height: 100%; width: 100%;
    background-color: #d9d9d9;
    border-radius: 50%;
    visibility: hidden;
  }
}

.i-checkbox {
  width: 21px;
  height: 21px;
  border-radius: 3px;
  border: 2px solid #f4f4f4;
  &::before {
    content: '';
    display: block;
    width: 12px; height: 7px;
    border-color: #55cf49;
    border-width: 0 0 2px 2px;
    border-style: solid;
    transform: rotate(-45deg);
    margin: 3px 0 0 3px;
    visibility: hidden;
  }
}

.i-arrow {
  position: relative;
  width: 4px; height: 4px;
  transition: .2s;
  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 200%; height: 200%;
    border-style: solid;
    border-width: 1px 0 0 1px;
    border-color: $color-grey-12;
  }
  &--up {transform: rotate(45deg);}
  &--right {transform: rotate(135deg);}
  &--down {transform: rotate(225deg);}
  &--left {transform: rotate(315deg);}
}


@media (max-width: $lg-max) {
  .i-arrow {width: 2px; height: 2px;}

  .i-checkbox {
    width: 15px; height: 15px;
    border-width: 1px;
    &::before {
      width: 8px; height: 5px;
      border-width: 0 0 1px 1px;
      border-color: #5ca25f;
      margin: 3px 0 0 3px;
    }
  }

}