$xl-min: 1200px;
$xl-max: 1199.9px;
$lg-min: 992px;
$lg-max: 991.9px;
$md-min: 768px;
$md-max: 767.9px;
$sm-min: 568px;
$sm-max: 567.9px;

$color-accent: #302b3f;
$color-accent-2: #ff777a;

$color-grey-1: #393434;
$color-grey-2: #3a3a3a;
$color-grey-3: #4a4444; 
$color-grey-4: #525252; 
$color-grey-5: #595959; 
$color-grey-6: #616161; 
$color-grey-7: #7d7d7d; 
$color-grey-8: #8a8a8a; 
$color-grey-9: #989898; 
$color-grey-10: #a2a2a2; 
$color-grey-11: #b5b5b5; 
$color-grey-12: #c2c2c2; 
$color-grey-13: #cccaca;