<div style="position:absolute;clip:rect(0,0,0,0)" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="i-rub"
         viewBox="0 0 24 24">
        <path d="M6,10H7V3H14.5C17,3 19,5 19,7.5C19,10 17,12 14.5,12H9V14H15V16H9V21H7V16H6V14H7V12H6V10M14.5,5H9V10H14.5A2.5,2.5 0 0,0 17,7.5A2.5,2.5 0 0,0 14.5,5Z"/>
    </svg>
</div>
<div class="row">
    <div class="col-lg-6">
        <h1>Кредитный калькулятор</h1>
        <form class="calculator-form" id="calculator-form" action="{{ path('calculator_index') }}">

            <div class="form-group">
                <div class="calculator-input js-calc-box">
                    <label for="calc-input-1" class="calculator-input__label">Укажите желаемую сумму
                        кредита</label>
                    <input name="income" type="number"
                           value="{% if app.request.get('income') %}{{ app.request.get('income') }}{% else %}60000{% endif %}"
                           min="0" max="1000000" step="1000"
                           class="calculator-input__input form-control js-calc-control"
                           id="calc-input-1">
                    <div class="calculator-input__placeholder js-calc-placeholder">
                        <span class="calculator-input__value js-calc-val">60 000</span>
                        <i class="icon">
                            <svg class="svg-rub">
                                <use xlink:href="#i-rub"></use>
                            </svg>
                        </i>
                    </div>
                    <div class="calculator-input__slider js-calc-slider"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="calculator-input js-calc-box">
                    <label for="calc-input-3" class="calculator-input__label">Срок
                        кредитования</label>
                    <input name="time" type="number"
                           value="{% if app.request.get('time') %}{{ app.request.get('time') }}{% else %}3{% endif %}"
                           min="1" max="12" step="1"
                           class="calculator-input__input form-control js-calc-control"
                           id="calc-input-3">
                    <div class="calculator-input__placeholder js-calc-placeholder">
                        <span class="calculator-input__value js-calc-val">3</span>
                        <span class="calculator-input__unit js-calc-unit">месяца</span>
                    </div>
                    <div class="calculator-input__slider js-calc-slider js-calc-slider-time"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="calculator-input js-calc-box">
                    <label for="calc-input-4" class="calculator-input__label">Ставка %</label>
                    <input name="rate" type="number"
                           value="{% if app.request.get('rate') %}{{ app.request.get('rate') }}{% else %}10{% endif %}"
                           min="1" max="100" step="1"
                           class="calculator-input__input form-control js-calc-control"
                           id="calc-input-4">
                    <div class="calculator-input__placeholder js-calc-placeholder">
                        <span class="calculator-input__value js-calc-val">10</span>
                        <span class="calculator-input__unit js-calc-unit">%</span>
                    </div>
                    <div class="calculator-input__slider js-calc-slider js-calc-slider-rate"></div>
                </div>
            </div>

            <div class="form-group form-group--submit">
                <button name="calc" class="btn btn-primary btn-calc" type="submit">Рассчитать</button>
            </div>
        </form>
    </div>

    <div class="col-lg-6">
        <div class="calculator-results">
            <table class="calculator-results__table">
                <tr>
                    <td>Сумма кредита</td>
                    <td><span id="income">{{ 60000|number_format(2, '.', ' ') }}</span><i
                                class="icon">
                            <svg class="svg-rub">
                                <use xlink:href="#i-rub"></use>
                            </svg>
                        </i></td>
                </tr>
                <tr>
                    <td>Сумма выплат <br>по процентам</td>
                    <td><span id="procSum">{{ 1500|number_format(2, '.', ' ') }}</span><i
                                class="icon">
                            <svg class="svg-rub">
                                <use xlink:href="#i-rub"></use>
                            </svg>
                        </i></td>
                </tr>
                <tr>
                    <td>Общая сумма выплат</td>
                    <td><span id="total">{{ 61500|number_format(2, '.', ' ') }}</span><i
                                class="icon">
                            <svg class="svg-rub">
                                <use xlink:href="#i-rub"></use>
                            </svg>
                        </i></td>
                </tr>
                <tr>
                    <td>Ежемесячный платеж</td>
                    <td><span id="monthSum">{{ 20500|number_format(2, '.', ' ') }}</span><i
                                class="icon">
                            <svg class="svg-rub">
                                <use xlink:href="#i-rub"></use>
                            </svg>
                        </i></td>
                </tr>

                <tr>
                    <td>Процентная ставка</td>
                    <td><span id="rate">10</span> %</td>
                </tr>
            </table>

            <div class="calculator-results__alert">
                <i class="icon i-alert"></i>
                Результат является предварительным. Полная стоимость расчитывается индивидуально.
            </div>
        </div>
    </div>
</div>
