{% extends 'ce_base.html.twig' %}

{% block body_id 'calculator_index' %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <main class="main" id="main">
                <div class="container-sm">
                    <ul class="breadcrumbs">
                        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span>Главная</span></a><i
                                    class="icon i-arrow i-arrow--right"></i></li>
                        <li class="breadcrumbs__item breadcrumbs__item--active"><a href="/calculator"
                                                                                   class="breadcrumbs__link"><span>Калькулятор</span></a>
                        </li>
                    </ul>

                    {{ include('calc/_calc.html.twig') }}
                </div>

                {% if chart is not empty %}
                    <canvas id="myChart"></canvas>
                    {% block javascripts %}
                    {{ parent() }}
                    <script type="text/javascript">
                        new Chart(document.getElementById('myChart').getContext('2d'), {
                            type: 'bar',
                            data:
                                {
                                    labels: [
                                        {% for month in chart.months  %}
                                            '{{ month }}',
                                        {% endfor %}
                                    ],
                                    datasets: [
                                        {
                                            label: 'Платеж по процентам',
                                            data: [
                                                {% for procSum in chart.dataSets.procSums  %}
                                                    '{{ procSum }}',
                                                {% endfor %}
                                            ],
                                            backgroundColor: '#FF777A',
                                            borderColor: '#FF777A',
                                        },
                                        {
                                            label: 'Платеж по основному долгу',
                                            data: [
                                                {% for creditSums in chart.dataSets.creditSums  %}
                                                '{{ creditSums }}',
                                                {% endfor %}
                                            ],
                                            backgroundColor: 'rgba(255, 159, 64, 0.2)',
                                            borderColor: 'rgba(255, 159, 64, 1)',
                                        }
                                    ]
                                },
                            options: {
                                tooltips: {
                                    callbacks: {
                                        label: function(tooltipItem, data) {
                                            var label = data.datasets[tooltipItem.datasetIndex].label || '';

                                            if (label) {
                                                label += ': ';
                                            }
                                            label += numeral(tooltipItem.yLabel).format() + ' \u20BD';
                                            return label;
                                        }
                                    }
                                },
                                scales: {
                                    yAxes: [
                                        {
                                            ticks: {
                                                callback: function(label, index, labels) {
                                                    return numeral(label).format('0,0') + '\u20bd';
                                                }
                                            },
                                        }
                                    ]
                                }
                            }
                        })
                    </script>
                    {% endblock %}
                {% endif %}

                {% if table is not empty %}
                    <div class="calculator-table js-scroll-wrap">
                        <div class="calculator-table__inner js-scroll-block">
                            <table class="js-scroll-table">
                                <tr>
                                    <th>№</th>
                                    <th>Дата платежа</th>
                                    <th>Остаток задолженности</th>
                                    <th>Начисленные проценты</th>
                                    <th>Плановый платёж</th>
                                    <th>Сумма платежа</th>
                                </tr>
                                {% for date, row in table %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ date }}</td>
                                        <td>{{ row.rest|number_format(2, '.', ' ') }}<i
                                                    class="icon">
                                                <svg class="svg-rub">
                                                    <use xlink:href="#i-rub"></use>
                                                </svg>
                                            </i></td>
                                        <td>{{ row.procSum|number_format(2, '.', ' ') }}<i
                                                    class="icon">
                                                <svg class="svg-rub">
                                                    <use xlink:href="#i-rub"></use>
                                                </svg>
                                            </i></td>
                                        <td>{{ row.creditSum|number_format(2, '.', ' ') }}<i
                                                    class="icon">
                                                <svg class="svg-rub">
                                                    <use xlink:href="#i-rub"></use>
                                                </svg>
                                            </i></td>
                                        <td>{{ row.monthSum|number_format(2, '.', ' ') }}<i
                                                    class="icon">
                                                <svg class="svg-rub">
                                                    <use xlink:href="#i-rub"></use>
                                                </svg>
                                            </i></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}

                {% if cards is not empty %}
                    {{ include('card/_main.html.twig') }}
                {% endif %}
            </main>
        </div>
    </div>
{% endblock %}