<div class="news-item__inner">
    <a href="{{ path('news_show', {slug: item.slug}) }}" class="news-item__link">
        <div class="news-item__img">{% if item.image %}<img
                src="{{ asset('uploads/news/' ~ item.image) }}"/>{% endif %}</div>
        <div class="news-item__title">{{ item.title }}</div>
        <div class="news-item__text">{{ item.summary|md2html }}</div>
    </a>
    <div class="news-item__bottom row">
        <div class="news-item__date date col-6">{{ item.created|localizeddate('long', 'medium', null, 'UTC') }}</div>
        <div class="news-item__count col-6"><i class="icon i-comments"></i><span>2</span></div>
    </div>
</div>