<div class="news-item__inner">
    <a href="{{ path('news_show', {slug: item.slug}) }}" class="news-item__link">
        <div class="news-item__img">{% if item.image %}<img
                src="{{ asset('uploads/news/' ~ item.image) }}"/>{% endif %}</div>
        <div class="card-item__title">{{ item.title }}</div>
    </a>
</div>