{% extends 'ce_base.html.twig' %}

{% block body_id 'card_index' %}

{% block main %}
    <main class="main" id="main">
        <h1>Новости</h1>

        <div class="news-list row">
            {% for item in news %}
                <div class="news-item col-sm-6 col-md-4">
                    {{ include('news/_article_full.html.twig') }}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block sidebar %}
{% endblock %}
