{% extends 'ce_base.html.twig' %}

{% block body_id 'news_show' %}

{% block fitler %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <main class="main" id="main">
                <div class="news-article">
                    <h1>{{ item.title }}</h1>
                    <div class="news-article__date date">{{ item.created|localizeddate('long', 'medium', null, 'UTC') }}</div>
                    <div class="news-article__text">
                        {{ item.content|md2html }}
                    </div>
                </div>
            </main>
        </div>

        <style>
            .news-article__text {
                text-align: justify;
            }
            blockquote {
                background: #f9f9f9;
                border-left: 10px solid #ccc;
                margin: 1.5em 10px;
                padding: 0.5em 10px;
                quotes: "\201C""\201D""\2018""\2019";
            }
            blockquote:before {
                color: #ccc;
                content: open-quote;
                font-size: 4em;
                line-height: 0.1em;
                margin-right: 0.25em;
                vertical-align: -0.4em;
            }
            blockquote p {
                display: inline;
            }
        </style>

        <div class="col-md-4">
            <div class="similar-articles">
                <h2 class="similar-articles__title">Похожие статьи</h2>
                <div class="similar-articles__list">
                    {% for article in similarArticles %}
                        <div class="similar-article">
                            <div class="similar-article__title">
                                <a href="{{ path('news_show', {slug: article.slug}) }}">{{ article.title }}</a>
                            </div>
                            <div class="similar-article__date date">{{ article.created|localizeddate('long', 'medium', null, 'UTC') }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block sidebar %}
{% endblock %}
