{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Creditum{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <link rel="canonical" href="{{ url(app.request.get('_route'), app.request.attributes.get('_route_params')) }}" />

    {% block stylesheets %}
        {{ encore_entry_link_tags('frontend') }}
    {% endblock %}

    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="{% block body_id %}{% endblock %}">
<div class="wrapper" id="wrapper">
    <div class="wrapper__top">
        {% block header %}
            <header class="header" id="header">
                <div class="container">
                    <div class="header__row">
                        <label for="header-nav-toggle" class="burger-btn-open mobile-only"><i></i></label>
                        <div class="header__logo"><a href="/" class="logo"></a></div>

                        <input type="checkbox" class="header-nav-toggle d-none" id="header-nav-toggle">
                        <nav class="header-nav" data-toggle-id="header-nav-toggle">
                            <!-- я наверное угорел и использовал эту кнопку для проверки isMobileLayout() в js -->
                            <label for="header-nav-toggle" class="btn-menu-close mobile-only"
                                   id="js-is-mobile-checker"><i></i></label>
                            <ul class="header-nav__list nav">
                                <li class="nav__item"><a href="{{ path('card_credit') }}"
                                                         class="nav__link"><span>Кредитные карты</span></a>
                                </li>
                                <li class="nav__item"><a href="{{ path('card_debit') }}"
                                                         class="nav__link"><span>Дебетовые карты</span></a>
                                </li>
                                <li class="nav__item"><a href="{{ path('card_installment') }}"
                                                         class="nav__link"><span>Карты рассрочки</span></a></li>
                                <li class="nav__item"><a href="{{ path('card_virtual') }}"
                                                         class="nav__link"><span>Виртуальные карты</span></a></li>
                                <li class="nav__item"><a href="/about" class="nav__link"><span>О сайте</span></a></li>
                                {#<li class="nav__item"><a href="/" class="nav__link"><span>Заказать карту</span></a>#}
                                {#</li>#}
                            </ul>
                        </nav>
                    </div>

                </div>
            </header>
        {% endblock %}

        <div class="middle" id="middle">
            <div class="container">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>

        {% block footer %}
            <footer class="footer" id="footer">
                <div class="container">
                    <nav class="footer-nav desktop-only">
                        <ul class="footer-nav__list nav">
                            <li class="nav__item"><a href="/calculator" class="nav__link"><span>Калькулятор</span></a>
                            </li>
                            <li class="nav__item"><a href="/top" class="nav__link"><span>Рейтинг карт</span></a></li>
                            {#<li class="nav__item"><a href="/form" class="nav__link"><span>Оформление карты</span></a>#}
                            {#</li>#}
                            <li class="nav__item"><a href="/choose-card" class="nav__link"><span>Подобрать карту</span></a>
                            </li>
                            <li class="nav__item"><a href="/best-cards" class="nav__link"><span>Лучшие карты</span></a>
                            </li>
                            <li class="nav__item"><a href="/news" class="nav__link"><span>Новости</span></a></li>
                            <li class="nav__item"><a href="/contacts" class="nav__link"><span>Контакты</span></a></li>
                        </ul>
                    </nav>
                    <div class="footer__copyright desktop-only">© Creditum24.ru {{ "now"|date("Y") }}</div>
                    <div class="footer__text mobile-only">
                        Содержание сайта носит исключительно информационно-справочный характер. Сервис Creditum не
                        является
                        кредитной организацией и не выдает кредиты. Все представленные компании имеют лицензии на
                        соответствующую деятельность.
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('frontend') }}
        {% endblock %}
    </div>
</div>
{# it's not mandatory to set the timezone in localizeddate(). This is done to
   avoid errors when the 'intl' PHP extension is not available and the application
   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
<!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/common.js?v2"></script>
</body>
</html>
