{{ include('card_type/_delete_confirmation.html.twig') }}
<form action="{{ url('admin_card_type_delete', {id: cardType.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-lg btn-block btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{ 'action.delete_card_type'|trans }}
    </button>
</form>
