{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_card_type_edit' %}

{% block main %}
    <h1>{{ 'title.edit_card_type'|trans({'%id%': cardType.id}) }}</h1>

    {{ include('admin/card_type/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}

    <div class="section actions">
        {{ include('admin/card_type/_delete_form.html.twig', {cardType: cardType}, with_context = false) }}
    </div>

{% endblock %}
