{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_card_type_index' %}

{% block main %}
    <h1>{{ 'title.card_type_list'|trans }}</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th scope="col">{{ 'label.name'|trans }}</th>
                <th scope="col">{{ 'label.attribute_list'|trans }}</th>
                <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for card_type in card_types %}
            <tr>
                <td>{{ card_type.name }}</td>
                <td>{{ card_type.formattedAttributes }}</td>
                <td class="text-right">
                    <div class="item-actions">
                        <a href="{{ path('admin_card_type_edit', {id: card_type.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'card_type.no_cards_found'|trans }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_card_type_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_card_type'|trans }}
        </a>
    </div>
{% endblock %}
