.aside-panel {
  background-color: #302b3f;
  padding-top: 70px;

  &__list {
    padding: 0 10px;
  }

  &__item {
    display: flex;
    width: 50px; height: 50px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &:hover, &.active {
      svg {fill: $color-accent-2;}
    }
    & + & {margin-top: 5px;}
    svg {
      display: inline-block;
      fill: #fff;
      transition: fill .2s;
    }
  }

}

.aside-filters {
  width: 260px;
  background-color: #635a82;
  color: #fff;
  padding-top: 70px;

  &__inner {padding: 0 20px 40px;}

  &__title {
    border-bottom: 1px solid #9e99b2;
    display: flex;
    align-items: center;
    padding: 0 10px 40px;
    .icon {flex: none; margin-right: 10px;}
    span {
      display: inline-block;
      flex-grow: 1;
      width: 100%;
      font-weight: 400;
    }
  }

  &__form {margin-top: 40px;}

  &__group {margin-top: 10px;}

  .custom-select {
    select {
      height: 34px;
      padding: 0 10px;
      border: 0;
      border-radius: 4px;
      background: #3f3853;
      color: #fff;
      font-size: 13px;
    }
  }

  &__more {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 25px 0 30px;
    cursor: pointer;
    &.active {
      .icon {transform: rotate(45deg);}
      span::before {content: attr(data-text-hide);}
    }
    span {
      vertical-align: middle;
      &::before {
        content: attr(data-text-show);
      }
    }
    .icon {
      width: 3px; height: 3px;
      margin-left: 10px;
      &::before {border-color: #fff;}
    }
  }

  &__hidden-filters {display: none;}

  &__buttons {
    margin-top: 15px;
    text-align: center;
    .btn {
      margin-top: 15px;
    }
  }

}

.aside-toggle {display: none;}

@media (min-width: $lg-min) {
  .aside {
    display: flex;
    height: calc(100% + 70px);
    margin-top: -70px;
  }
}

@media (max-width: $lg-max) {
  .aside-toggle:checked + .aside {display: block;}

  .aside {
    display: none;
    position: fixed;
    top: 0; left: 0;
    bottom: 0; right: 0;
    overflow-y: auto;
    z-index: 9;
    background: #635a82;
    // интересно, но на айфоне с этим пропом безумие (херня с выделением флагов при наличии скрола, костыль в жс)
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
    transition: .4s;
    &.active {
      display: block;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
    .btn-menu-close {color: #fff; left: 10px;}
  }

  .aside-filters {
    width: auto;
    min-height: 100%;
    &__form {margin-top: 0;}
  }
}