.breadcrumbs {
  list-style: none;
  margin: 0; padding: 0;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    font-size: 14px;
    font-weight: 400;
    &--active {
      color: $color-grey-2;
    }
    .icon {
      margin-left: 10px;
      margin-right: 10px;
      &::before {border-color: $color-grey-7;}
    }
    &:last-child .icon {display: none;}
  }

  &__link {
    vertical-align: middle;
    color: $color-grey-7;
    &:hover {color: $color-grey-2;}
  }
}


@media (max-width: $lg-max) {
  .breadcrumbs {margin-bottom: 15px;}
  .breadcrumbs__item {font-size: 10px;}
}