.calculator-form {
  margin-top: 25px;
  color: $color-grey-9;

  &__toggle {
    & + & {margin-top: 18px;}
    label {margin: 0;}
    .icon {margin-right: 20px;}
    span {vertical-align: middle;}
  }

  .form-group {
    &--selected-1, &--selected-2 {display: none;}
    &--calc-toggles ~ .form-group {max-width: 295px;}
    &--submit {margin-bottom: 0;}
  }

  &__toggle-control {
    &:checked {
      &:nth-child(1) ~ .form-group--calc-toggles .calculator-form__toggle:nth-child(1) .icon::before,
      &:nth-child(2) ~ .form-group--calc-toggles .calculator-form__toggle:nth-child(2) .icon::before {
        visibility: visible;
      }
      &:nth-child(1) ~ .form-group--selected-1,
      &:nth-child(2) ~ .form-group--selected-2 {display: block;}
    }
  }

}

.calculator-input {
  position: relative;

  &__label {
    position: absolute;
    right: 8px; bottom: 100%;
    font-size: 12px;
    margin: 0;
  }

  &__input {
    color: transparent;
    &:focus {
      color: #635a82;
      & + .calculator-input__placeholder {display: none;}
    }
  }

  &__placeholder {
    pointer-events: none;
    position: absolute;
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    height: 13px;
    color: #635a82;
    padding: 0 10px;
    bottom: 0; top: 0; left: 1px;
    margin: auto;
    .icon {height: 100%;}
    .svg-rub {fill: #635a82;}
  }

  &__value {
    vertical-align: middle;
  }

  &__slider {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -1px;
  }

}


@media (max-width: $lg-max) {

  .calculator-form {
    margin-top: 0;
    .form-group {
      &--calc-toggles ~ .form-group {max-width: none;}
    }
    &__toggle + .calculator-form__toggle {
      margin-top: 10px;
    }
    .btn-calc {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .calculator-input {
    &__label {
      right: auto;
      left: 0;
      font-size: 10px;
    }
    &__placeholder {
      font-size: 12px;
      height: 12px;
      padding: 0 5px;
    }
  }

}