.calculator-results {
  height: 100%;
  background-color: #fafafa;
  padding: 50px;
  width: 430px;
  max-width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__table {
    width: 100%;
    color: $color-accent;
    border-bottom: 1px solid #cacaca;

    tr {
      &:first-child {
        td {
          font-size: 20px;
          padding-bottom: 30px;
        }
      }
      &:last-child {
        td {padding-bottom: 40px;}
      }
    }
    

    td {
      line-height: 20px;
      font-size: 16px;
      font-weight: 400;
      vertical-align: top;
      padding-bottom: 10px;
      &:first-child {
        font-size: 14px;
        font-weight: 600;
      }
      &:last-child {
        font-size: 16px;
        text-align: right;
        padding-left: 10px;
        white-space: nowrap;
      }
      span {vertical-align: middle;}
      .icon {margin-left: 4px; vertical-align: middle;}
      .svg-rub {display: block;}
    }
  }

  &__submit {
    margin-top: 30px;
    .btn {width: 100%; display: block;}
  }

  &__alert {
    margin-top: 20px;
    position: relative;
    padding-left: 26px;
    color: $color-grey-9;
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
    .icon {
      position: absolute;
      top: 0; left: 0;
    }
  }

}


@media (max-width: $lg-max) {
  
  .calculator-results {
    width: auto;
    height: auto;
    padding: 20px;
    margin-top: 40px;

    &__table {
      border: 0;
      tr {
        &:first-child {
          td {
            font-size: inherit;
            padding-bottom: 20px;
          }
        }
        &:last-child {
          td {padding-bottom: 20px;}
        }
      }
      td {
        line-height: 1;
        font-size: inherit;
        padding-bottom: 20px;
        &:first-child {
          font-size: inherit;
          font-weight: 400;
        }
        &:last-child {
          font-size: inherit;
        }
      }
      br {display: none;}
    }
    
    &__alert {margin: 0;}

    &__submit {
      margin-top: 20px;
      .btn {width: 210px; margin: auto;}
    }
  }

}