.calculator-table {
  margin-top: 100px;
  &__inner {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  table {
    width: 100%;
    color: $color-grey-4;
    font-family: 'Open Sans', sans-serif;
  }
  tr {
    &:nth-child(odd) {background: #f8f8f8;}
  }
  th {
    font-weight: 400;
  }
  th, td {
    padding: 18px 30px;
    &:first-child {padding-left: 60px;}
    &:last-child {padding-right: 60px;}
  }
}

.table-scrollbar {
  position: absolute;
  top: 10px; left: 0; right: 0;
  padding: 2px 10px;
  visibility: hidden;
  &--visible {visibility: visible;}
}
.table-scrollbar-track {
  position: relative;
  height: 2px;
  background-color: #ddd;
}
.table-scrollbar-thumb {
  position: absolute;
  left: 0; top: -2px;
  height: 6px; width: 16%;
  border-radius: 10px;
  background-color: #635a82;
  cursor: pointer;
  &.active {background-color: $color-accent;}
  &::before {
    content: '';
    position: absolute;
    top: -10px; bottom: -10px;
    left: 0; right: 0;
  }
}


@media (max-width: $lg-max) {

  .calculator-table {
    margin-top: 40px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 30px;
    position: relative;
    overflow: hidden;
    // стилизация нативного скроллбара
    // но только у браузеров webkit, и у ios с overflow-scrolling стили оффнутся((
    // и дизайн подозрительный, палка слишком маленькая, так что не канает. на всякий оставляю
    /*
    &__inner {
      padding-bottom: 20px;
      transform: scaleY(-1);
      &::-webkit-scrollbar{-webkit-appearance:none;}
      &::-webkit-scrollbar:vertical{width:6px;}
      &::-webkit-scrollbar:horizontal{height:6px;}
      &::-webkit-scrollbar-thumb{border-radius:10px;background-color:#635a82;}
      &::-webkit-scrollbar-track{background-color:#ddd;border-radius:0;border:2px solid white;border-width: 2px 0;margin: 0 10px;}
    }
    table {
      transform: scaleY(-1);
    }
    */
    &__inner {
      
      // скрыть натив, столько точно хватит
      margin-bottom: -20px;
      padding-bottom: 20px;
    }
    th, td {
      white-space: nowrap;
      padding: 16px 10px;
      &:first-child {padding-left: 10px;}
      &:last-child {padding-right: 10px;}
    }
  }

}