.cards-list {
  
  &__item {
    margin-top: 50px;
  }

  + .btn-wrap {
    text-align: center;
    margin-top: 50px;
  }
}


.card-item {
  max-width: 100%;
  width: 320px;

  &__img {
    img {
      display: block;
      max-width: 100%;
    }
  }

  &__text {}

  &__title {
    font-family: GothamPro, sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    color: $color-accent;
    margin: 25px 0;
  }

  &__descr {
    line-height: 20px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    max-width: 320px;
  }

  &__more {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }
}


@media (min-width: $lg-min) {
  .cards-list {

    &--list-view {
      .cards-list__item {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .card-item {
        display: flex;
        width: auto;
        &__title {margin-top: 0;}
        &__img {
          flex: none;
          width: 42%;
          margin-right: 5%;
        }
      }
    }

  }
}


@media (max-width: $lg-max) {
  .cards-list-top-row {
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    .btn {width: 100px; margin: 0; flex: none;}
    .h1 {margin: 0;}
  }

  .cards-list {
    margin-top: -35px;

    &__item {
      margin-top: 40px;
    }

    + .btn-wrap {margin-top: 40px;}
  }
  

  .card-item {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__img {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
      padding-right: 15px;
    }

    &__list {
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }

    &__list-item {
      line-height: 1;
      font-weight: 400;
      color: $color-accent;
      margin-bottom: 5px;
      &:last-child {margin-bottom: 0;}
    }

    &__dt {
      font-size: 13px;
      font-weight: 700;
      line-height: 19px;
      font-family: GothamPro, sans-serif;
      .icon {
        vertical-align: baseline;
        width: 10px; height: 10px;
        position: relative;
        top: 1px; left: -2px;
      }
    }

    &__title {
      font-size: 14px;
      margin: 12px 0 19px;
    }

    &__buttons {
      margin-top: 19px;
    }

    &__more {
      .btn {width: 160px;}
    }

  }
}