.card {
  margin-top: 65px;
  &__img {
    img {
      display: block;
      max-width: 100%;
      border-radius: 18px;
      box-shadow: 0 9px 13px rgba(1, 6, 8, .48);
    }
  }
  &__text {}
  &__title {}
  &__descr {
    font-size: 18px;
    line-height: 22px;
    margin: 18px 0;
    color: $color-grey-6;
  }
  &__list {
    color: $color-accent;
    line-height: 1;
    .i-rub {}
  }
  &__dt {
    font-size: 26px;
    font-family: GothamPro, sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    .icon {
      vertical-align: baseline;
      svg {fill: $color-accent;}
    }
  }
  &__dd {
    font-size: 20px;
  }
  &__btn {
    margin-top: 30px;
  }
}

.card-features {
  margin-top: 100px;
  &__title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 65px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    
  }
  &__img {
    background-color: $color-accent;
    box-shadow: 0 4px 6px rgba(72, 72, 72, .29);
    margin: 0 auto 25px;
    border-radius: 50%;
    width: 155px; height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__table {
    margin-top: 100px;
    table {
      width: 100%;
      color: $color-grey-4;
      font-family: 'Open Sans', sans-serif;
    }
    tr {
      &:nth-child(odd) {background: #f8f8f8;}
    }
    td {
      padding: 18px 35px;
      &:first-child {}
      &:last-child {}
    }
  }
  &__descr {
    margin-top: 65px;
    line-height: 18px;
    color: $color-grey-13;
    p {
      margin: 0;
      & + p {margin-top: 18px;}
    }
  }
}

.similar-cards {
  margin-top: 100px;

  &__title {margin-bottom: 40px;}

  &__slider {
    margin-left: -35px;
    margin-bottom: -20px; //shadow
    &:not(.slick-slider) {
      display: flex;
      overflow: hidden;
      .similar-item {
        flex: 0 0 25%;
        width: 100%;
        max-width: 25%;
      }
    }
    [tabindex] {outline: 0;}

    .slick-prev, .slick-next {
      position: absolute;
      bottom: 100%;
      margin-bottom: 40px;
      width: 26px; height: 26px;
      border: 1px solid $color-accent;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &.slick-disabled {
        border-color: #e3e2e2;
        cursor: default;
      }
      .icon {
        border-color: inherit;
        &::before {border-color: inherit;}
      }
    }
    .slick-prev {right: 35px;}
    .slick-next {right: 0;}
  }

}

.similar-item {
  padding-left: 35px;
  &__title {
    font-family: GothamPro, sans-serif;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 12px;
  }
  &__dt {
    font-family: GothamPro, sans-serif;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 4px;
  }
  &__dd {
    font-size: 9.5px;
    line-height: 1;
  }
  &__img {
    margin-top: 20px;
    padding-bottom: 20px; //shadow
    img {
      display: block;
      max-width: 100%;
      border-radius: 12px;
    }
  }
  &__link {
    display: block;
    &:hover {
      text-decoration: none;
      img {box-shadow: 0 9px 13px rgba(1, 6, 8, .48);}
    }
  }

}

.card-bottom-btn {
  margin-top: 35px;
  text-align: center;
}


@media (min-width: $lg-min) {
  .card__btn {
    .btn {
      height: 50px;
    }
  }
}


@media (max-width: $lg-max) {
  .card {
    margin-top: 0;

    &__descr {
      line-height: 24px;
      font-size: 12px;
      margin: 0;
    }

    &__list {
      margin-top: 20px;
    }

    &__dt {
      font-size: 13px;
      line-height: 19px;
      font-weight: 700;
      margin: 0;
      .icon svg {width: 10px; height: 10px;}
    }

    &__dd {
      font-size: 12px;
      font-weight: 400;
    }

    &__btn {
      margin-top: 35px;
    }

  }

  .card-features {
    margin-top: 50px;
    &__list {
      text-align: left;
      font-size: 16px;
    }
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      &:last-child {margin-bottom: 0;}
      span {
        display: inline-block;
      }
    }
    &__img {
      width: 75px;
      height: 75px;
      margin: 0 25px 0 0;
      flex: none;
      padding: 20px;
    }
    &__table {
      margin-top: 30px;
      margin-left: -10px;
      margin-right: -10px;
      font-weight: 400;
      th, td {
        padding: 16px 10px;
        &:first-child {padding-left: 10px;}
        &:last-child {padding-right: 10px;}
      }
    }
    &__descr {
      margin-top: 35px;
      line-height: 14px;
      font-size: 10px;
      p  + p {margin-top: 14px;}
    }

  }
}


@media (max-width: $md-max) {
  .card {
    &__img {
      img {margin: auto;}
    }
    &__text {
      margin-top: 25px;
    }
    &__btn {
      text-align: center;
    }
  }

}