
.catalog-sort {
  padding-top: 50px;
  margin-top: 40px;
  border-top: 1px solid #f4f4f4;

  font-weight: 400;
  font-size: 20px;
  &__left {
    display: flex;
  }
  &__label {
    display: inline-block;
    margin-right: 15px;
    color: $color-grey-1;
  }
  &__dropdown {
    margin-right: 15px;
  }
  &__link {
    color: #e1e0e0;
    display: inline-block;
    margin-right: 15px;
    &:hover {
      color: $color-accent-2;
      text-decoration: none;
    }
  }
  &__right {
    display: flex;
    justify-content: flex-end;
  }
  &__view {
    margin-left: 10px;
    cursor: pointer;
    &.active {
      svg {fill: $color-accent-2;}
    }
    svg {fill: #e1e0e0;}
  }
}