.comments {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    color: $color-accent;
  }

  &__toggle {
    display: inline-block;
    &:hover {text-decoration: none;}
    &.active .icon {transform: rotate(45deg);}
    span {
      vertical-align: middle; 
      display: inline-block;
    }
    .icon {
      margin-left: 12px;
      &::before {border-color: $color-accent;}
    }
  }

  &__logout {
    display: inline-block;
  }

  &__row {
    display: flex;
    align-items: center;
    &--input {margin-top: 10px;}
  }

  &__list {
    margin-top: 25px;
  }

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: none;
    img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      display: block;
    }
  }

  &__right {
    flex-grow: 1;
    width: 100%;
    padding-left: 12px;
    textarea {
      display: block;
      width: 100%;
      height: 38px;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      resize: none;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      padding: 6px 20px;
      &::placeholder {color: $color-grey-13;}
    }
  }

}

.comments-item {
  
  &--sub {margin-left: 62px;}
  & + & {margin-top: 20px;}

  &__inner {}

  &__img {
    padding-right: 4px;
    padding-bottom: 4px;
  }

  &__right {}

  &__top {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 24px;
  }

  &__name {
    font-size: 14px;
    font-weight: 400;
    color: #4a4362;
    margin-right: 10px;
  }

  &__to {
    color: #ff777a;
    margin-right: 10px;
    &::before {
      content: '>';
    }
  }

  &__time {
    color: $color-grey-10;
  }

  &__text {
    color: $color-grey-7;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

}


@media (max-width: $lg-max) {
  .comments {
    &__title {font-size: 16px;}
    &__list {margin-top: 20px;}
  }
  .comments-item {
    & + & {margin-top: 15px;}
    &__text {
      font-size: 12px;
    }
    &__name {
      font-size: 12px;
    }
    &__time {
      font-size: 10px;
    }
  }
}

@media (max-width: $sm-max) {
  .comments-item {
    &--sub {margin-left: 0;}
  }
}