.filter-checkbox {
  &__label {
    display: block;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    cursor: pointer;
  }

  &__content {
    display: block;
    padding: 9px 10px;
    color: #fff;
    background-color: #3f3853;
    border-radius: 4px;
  }

  &__control {
    opacity: 0;
    position: absolute;
    z-index: -1;
    &:checked + .filter-checkbox__content {
      color: #737373;
      background-color: #fff;
    }
  }

}