.footer {
  padding-bottom: 20px;
  &__copyright {
    text-align: center;
    color: $color-grey-13;
  }
  &__text {
    line-height: 15px;
    color: $color-accent;
    text-align: center;
    padding: 0 10px;
  }
}

.footer-nav {
  border-top: 1px solid #f4f4f4;
  &__list {
    margin: 35px 0;
    .nav__link {padding: 0 15px;}
  }
}


@media (max-width: $lg-max) {
  .footer {
    background-color: #f5f5f5;
    padding: 25px 0;
  }
}