.header {
  background-color: #fbfbfb;
  padding: 15px 0;

  &__row {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: none;
    margin-right: 4%; 
  }
}

.header-nav {
  flex-grow: 1;
}



.burger-btn-open {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  margin: auto;
  width: 23px; height: 16px;
  cursor: pointer;
  &::before, i::before, i::after {
    content: '';
    position: absolute;
    left: 0; right: 0;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
  }
  &::before {
    top: 0; bottom: 0;
    margin: auto;
  }
  &::after {
    content: '';
    position: absolute;
    top: -9px; right: -9px; bottom: -9px; left: -9px;
  }
  i::before { top: 0; }
  i::after { bottom: 0; }
}

.btn-menu-close {
  position: absolute;
  top: 0; left: 0;
  width: 50px; height: 50px;
  transform: rotate(45deg);
  color: $color-accent;
  cursor: pointer;
  i::before, i::after {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    background-color: currentColor;
  }
  i::before {
    width: 3px; height: 25px;
  }
  i::after {
    height: 3px; width: 25px;
  }
}


@media (max-width: $lg-max) {
  .header {
    padding: 6px 0;
    background-color: $color-accent;
    position: sticky;
    top: 0;
    z-index: 9;
    &__row {
      position: relative;
      justify-content: center;
    }
    &__logo {margin: 0;}
  }

  .header-nav {
    display: none;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: auto;
    background-color: #fff;
    z-index: 9;
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
    transition: .4s;
    padding-top: 60px;
    -webkit-overflow-scrolling: touch;
    &.active {
      display: block;
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  }

  .header-nav-toggle:checked + .header-nav { display: block; }
}