.main-article {
  color: $color-grey-3;
  font-size: 18px;
  h1 {margin-bottom: 25px;}
  h2 {margin: 25px 0;}
  p {line-height: 22px; margin: 22px 0 0;}
}


@media (max-width: $lg-max) {
  .main-article {
    font-size: 12px;
    h1 {margin-bottom: 20px;}
    h2 {margin: 20px 0 15px;}
    p {line-height: 24px; margin: 0;}
  }

  .btn-filters-after-article {
    display: block;
    margin: 35px auto 0;
  }
}