.nav {
  list-style: none;
  margin: 0; padding: 0;
  display: flex;
  justify-content: space-between;

  &__item {}

  &__link {
    display: block;
  }
}


@media (max-width: $lg-max) {
  .nav {
    display: block;
    &__link {
      font-family: GothamPro, sans-serif;
      font-size: 18px;
      line-height: 1;
      font-weight: 500;
      padding: 15px 10px;
      background-color: #fff;
      transition: .2s ease-in-out;
      &:hover {
        text-decoration: none;
        background-color: $color-accent;
        color: #fff;
      }
    }

  }
}