.news-article {
  &__top {
    position: relative;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__title {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    padding: 40px; margin: 0;
    color: #fff;
    font-size: 36px;
  }
  &__date {margin: 20px 0;}
  &__text {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 22px;
    p {margin: 0;}
    p + p {margin-top: 22px;}
  }
  &__comments {
    margin-top: 35px;
  }
}


.similar-articles {
  &__title {margin-bottom: 12px;}
  &__list {}
}

.similar-article {
  padding: 23px 0;
  & + & {
    border-top: 1px solid #ddd;
  }
  &__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }
  &__date {margin-top: 15px;}
}


@media (max-width: $lg-max) {
  .news-article {
    &__title {
      font-size: 18px;
      padding: 20px;
    }
    &__date {margin: 20px 0 15px;}
    &__text {
      font-size: 1rem;
      margin-bottom: 20px;
      p + p {margin-top: 0;}
    }
    &__comments {
      margin-top: 20px;
    }
  }

  .similar-article {
    padding: 12px 0 15px;
    &__title {
      font-size: 14px;
      line-height: 18px;
    }
    &__date {margin-top: 10px;}
  }
}


@media (max-width: $md-max) {
  .similar-articles {
    margin-top: 40px;
  }
}