.news-list {
  & + .btn-wrap {
    margin-top: 70px;
    text-align: center;
  }
}

.news-item {
  margin-top: 40px;
  border-left: 1px solid #e5e5e5;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__link {
    display: block;
    &:hover {
      text-decoration: none;
      .news-item__img {
        &::after {opacity: .3;}
        img {transform: scale(1.2);}
      }
    } 
  }

  &__img {
    position: relative;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      background-color: $color-accent;
      opacity: 0;
      transition: .2s;
    }
    img {
      display: block;
      max-width: 100%;
      transform: scale(1);
      transition: .2s;
    }
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
    font-family: GothamPro, sans-serif;
    line-height: 34px;
    margin: 20px 0;
  }

  &__text {}

  &__bottom {
    margin-top: 20px;
    .icon {margin-right: 7px;}
  }

  &__date {}

  &__count {
    font-size: 18px;
    line-height: 1;
    color: $color-grey-7;
  }

}

@media (min-width: $md-min) {
  .news-item:nth-child(3n+1) {border-color: transparent;}
}

@media (max-width: $lg-max) {
  .news-list {
    margin-top: -20px;
    & + .btn-wrap {
      margin-top: 40px;
    }
  }

  .news-item {
    margin-top: 30px;
    &__title {
      font-size: 14px;
      line-height: 18px;
      margin: 10px 0;
    }
    &__bottom {
      margin-top: 15px;
      .i-comments {width: 14px; height: 12px;}
    }
    &__count {
      font-size: 1rem;
    }
  }
}

@media (max-width: $md-max) {
  .news-item:nth-child(2n+1) {border-color: transparent;}
}

@media (max-width: $sm-max) {
  .news-item {border: 0;}
}