.order-form {
  margin-top: 50px;
  font-size: 13px;
  color: $color-grey-9;

  .form-group {
    &--date {
      max-width: 295px;
      position: relative;
      .icon {
        position: absolute;
        width: 19px; height: 21px;
        top: 0; bottom: 0; right: 9px;
        margin: auto;
        pointer-events: none;
        svg {
          width: 19px; height: 21px;
          fill: #d9d9d9;
          transition: fill .2s;
        }
      }
    }
    &--submit {
      margin-bottom: 0;
    }
  }
  
  .custom-radio {
    margin-right: 20px;
    .icon {margin-right: 5px;}
  }

  .custom-checkbox {
    line-height: 21px;
    .icon {margin-right: 5px;}
    span {vertical-align: middle;}
  }

  label {
    margin: 0;
    vertical-align: middle;
  }

  &__caption {margin-bottom: 10px;}

  &__link-conditions {
    display: inline-block;
    vertical-align: middle;
  }

}

@media (min-width: $lg-min) {
  .order-form .form-group--submit .btn {
    font-size: 16px;
    width: auto;
    padding: 13px 20px;
  }
}

@media (max-width: $lg-max) {
  .order-form {
    margin-top: 20px;
    font-size: 10px;

    .form-group {
      &:not(.form-group--submit) {margin-bottom: 20px;}
      &--date {max-width: none;}
      &--submit {text-align: center; margin-top: 30px;}
      &--checkbox {margin-top: -15px;}
      &--confirm {
        position: relative;
        margin-top: -12px;
        line-height: 12px;
        padding-left: 20px;
        .i-checkbox {
          position: absolute;
          top: 0; bottom: 0; left: 0;
          margin: auto;
        }
        label{
          line-height: inherit;
          display: inline;
        }
      }
    }

    &__caption {margin-bottom: 5px;}

    &__link-conditions {display: inline;}

  }
}