.tags {
  &__inner {
    border-top: 1px solid #f4f4f4;
    padding: 50px 0;
  }
  &__alert {
    position: relative;
    padding-left: 32px;
    .icon {
      position: absolute;
      top: 0; left: 0;
    }
  }
  &__text {
    font-size: 18px;
    font-style: italic;
    line-height: 22px;
    color: $color-grey-9;
  }
}

.tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: -20px;
  li {
    margin-top: 15px;
    padding-left: 20px;
  }
  a {
    display: block;
    white-space: nowrap;
    text-align: center;
    line-height: 34px;
    font-size: 13px;
    padding: 0 15px;
    min-width: 175px;
    color: $color-grey-7;
    background: #f3f3f3;
    border-radius: 3px;
    transition: color .15s, background-color .15s;
    &:hover {
      text-decoration: none;
      color: #fff;
      background: #3f3853;
    }
  }
}


@media (min-width: $lg-min) {
  .tags-list li {
    &:first-child, &.first.odd {padding-left: 70px;}
  }
}


@media (max-width: $lg-max) {
  .tags {
    &__inner {padding: 0 0 30px; border: 0;}
    &__text {font-size: 12px; line-height: 16px;}
  }
  .tags-list {
    margin-left: -10px;
    justify-content: center;
    li {
      padding-left: 10px;
      margin-top: 10px;
      &.odd a {background: $color-accent; color: #fff;}
    }
    a {
      font-size: 10px;
      line-height: 41px;
      min-width: 0;
      padding: 0 5px;
    }
  }
}